<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="/admin/dashboard" class="app-brand-link mb-3 pt-2">
      <span class="app-brand-logo demo">
        <img src="/img/timeless-favicon.png" alt="">
      </span><br>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">Ex-Farma</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="/admin/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Painel principal</div>
      </a>
    </li>  

    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Páginas</span>
    </li>
    <li class="menu-item">
      <a href="/admin/product_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Produtos</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/orders" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Pedidos</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/customer_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Clientes</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/categories" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Categorias</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/banner_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">banners</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/coupon_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Descontos</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/mail_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Emails</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="/admin/blog_management" class="menu-link">
        <i class="menu-icon tf-icons bx bx-collection"></i>
        <div data-i18n="Basic">Blog</div>
      </a>
    </li>            
    <li class="menu-item">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-box"></i>
        <div data-i18n="User interface">Relatótios</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="/admin/total" class="menu-link">
            <div data-i18n="Accordion">Total vendido</div>
          </a>
        </li> 
        <li class="menu-item">
          <a href="/admin/status_pedido" class="menu-link">
            <div data-i18n="Buttons">Estado de pedidos</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/clientes_mais_pedidos" class="menu-link">
            <div data-i18n="Carousel">Venda por clientes</div>
          </a>
        </li>   
      </ul>
    </li> 
  </ul>
</aside> 