<%- include('partials/links')%>
<body class="animsition">
<%- include('partials/header')%>

<section class="bg-img1 txt-center p-lr-15 p-tb-80" style="background-image: url('assets/images/slide-01.jpg');">
	<h2 class="pt-2  mt-3 ltext-105 cl0 txt-center">
		Sobre
	</h2>
</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Nossa histótio
						</h3>

						<p class="stext-113 cl6 p-b-26 text-justify">
							O Express-farma é um  projeto a fase de desenvolvimento, desenvolvido pelos técnicos médio Claúdio Sebastião e Zésio Cimas. Este projeto foi desenvolvido pensando nas dificuldades que algumas pessoas passam para adequerir um produto farmacêutico.
						</p>

						<p class="stext-113 cl6 p-b-26 text-justify">
							Com a implementação deste projeto será mais fácil adequerir um produto farmacêutico de lojas farmacêuticas longe ou perto de nós. Usando a geolocalização de farmaácias podemos visualizar a s farmácias mais próximas a nós e ver os produtos de uma farmácia.
						</p>
 
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/assets/images/slide-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Nossa Missão
						</h3>

						<p class="stext-113 cl6 p-b-26">
							O nosso maior objetivo futuramente é de servir como intermediário entre lojas farmacêuticas e clientes, podendo facilitar a interação de ambos.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Programação não é para fracos, desista!
							</p>

							<span class="stext-111 cl8">
								- Adilson Futa
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/assets/images/image-2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

<%- include('partials/footer')%>
</body>
</html>	