<!doctype html>
<html lang="pt">
  <head>
  	<title>Recuperar senha</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="/assets/images/icons/favicon.png"/>
	<link rel="stylesheet" href="/assets/css/style.login.css">
	</head>
	<body> 
	<section class="ftco-section">
		<div class="container"> 
			<div class="row justify-content-center" style="padding-top: 15vh">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="login-wrap p-4 p-md-5"> 
					  <%- include('../layouts/msg') %>
				  	<% if(locals.errorMessage) {%><p class="alert alert-danger text-danger"><%= locals.errorMessage %></p> <%}%>
            <div class="text-center">Alterar senha</div>
					<form action="/users/changePassword" method="post" class="signin-form">
			      	<div class="form-group mt-4">
                <input type="password" required class="form-control" id="form-holder" placeholder="Senha atual" name="currentPassword"/>
			      	</div> 
              <div class="form-group mt-4">
                <input type="password" required class="form-control" id="form-holder" placeholder="Nova senha" name="newPassword"/>
              </div> 
              <div class="form-group mt-4">
                <input type="password" required class="form-control" id="form-holder" placeholder="Confirmar niva senha" name="confirmPassword"/>
			      	</div> 
		            <div class="form-group">
                  <input type="submit" class="btn btn-dark w-100" value="Alterar" />

		            </div>
                  <div class="form-group text-center mt-3 d-md-flex">
                    <div class=" w-100 mt-2">
                      <a class="text-primary" href="/users/profile">Voltar ao perfil</a>
                    </div>  
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section> 
</body>
</html> 